<%= link_to groups_path, class: "btn btn-success" do %>
  <i class="bi bi-arrow-left"></i> Back to groups
<% end %>
<p style="color: green"><%= notice %></p>

<div class="container card">
  <h1><%= @group.name %></h1>
  <p><%= @group.icon %></p>
<% if @group.present? %>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
<% end %>
<%= button_to "Destroy this group", @group, method: :delete %>
</div>
</div>

<div>
