<%= link_to groups_path, class: "btn btn-success" do %>
  <i class="bi bi-arrow-left"></i> Back to groups
<% end %>
<p style="color: green"><%= notice %></p>
<p style="color: green"><%= notice %></p>
<div class="container card">
<% if @group.present? %>
  <%= render partial: 'group', object: @group %>
<% end %>
<div class='action' >
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Delete", @group, method: :delete, class: 'btn btn-danger' %>
</div>

<div>
