<p style="color: green"><%= notice %></p>
<div class="apptitle text-center text-wrap fs-2 fw-bold"> Nurode Tracker App</div>
<h4 class="text-center">Welcome 
    <%= render current_user %>
</h4>

<div class=" d-grid gap-2">
 <%= link_to "View Categories", groups_path,  class: "btn btn-primary" %>
 <% if @user %>
  <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-primary" %>
  <% end%>

<%= button_to "Sign-out", destroy_user_session_path, method: :delete, class: "btn btn-light w-100"  %>
</div> <%= button_to "Delete My Account", @user, method: :delete, class: "btn btn-danger w-100" %>