<%= form_with(model: expense) do |form| %>
  <% if expense.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group my-2">
    <%= form.text_field :name, class: "form-control", placeholder: 'Enter Expense Name' %>
  </div>

  <div class="input-group my-2">
    <%= form.text_field :amount, class: "form-control", placeholder: 'Enter Amount' %>
  </div>

  <div class="input-group my-2">
    <%= form.collection_select :group_id, Group.all, :id, :name, { prompt: "Select a Group" }, class: "form-control" %>
  </div>
  
  <div class=" my-2">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
