<div class='card total'> 
    <p>Total Amount:
   </p> <em><%= number_to_currency(@amount) %></em>
</div>
<div class="container">
  <% @expenses.each do |expense| %>
  <div class='card'>
    <%= render expense %>
    <p>
      <%= link_to "Show this Transaction", expense %>
    </p>
    </div>
  <% end %>


</div>
</div>  

<div class="button-container">
    <%= link_to "New Transaction", new_expense_path, class: "btn btn custom w-100" %>
  </div>
  <div class="text-center">
    <%= button_to "Sign-Out", destroy_user_session_path, method: :delete, class: "btn btn-light w-100 my-3"  %>
  </div>